<div class="nested-fields">
  <%= f.label :content, "Labeling Category" %>
  <%= f.text_field :content %>
  <%= link_to_remove_association "Remove Category", f %>
  &nbsp;&nbsp;
  <%= link_to_add_association "Add Tag", f, :label_tags, { data: {"association-insertion-method" => "append"}} %>
  <div class='nested-fields-2'>
    <%= f.fields_for :label_tags do |builder| %>
      <%= render 'label_tag_fields', :f => builder %>
    <% end %>
  </div>
</div>
