<% provide(:title, 'All uploads') %>
<h1>Projects</h1>
<% if admin? %>
  <b>Your Projects</b><br>
  <%= will_paginate %>
    <ul class="ownuploads">
      <% if @ownuploads.length > 0 %>
        <%= render @ownuploads %>
      <% else %>
        You have no projects<br>
      <% end %>
    </ul>
  <%= will_paginate %>

  <b>Other Projects</b>  
<% else %>
<h2>LabelMe-Text is currently in a pilot stage. Currently, only pilot partners can upload projects to be labeled.  If you wish to be a pilot partner for the site, contact Kalyan Veeramachaneni via email at kalyan@csail.mit.edu.
<% end %>

<%= will_paginate %>

<ul class="uploads">
  <%= render @uploads %>
</ul>

<%= will_paginate %>
