-#:coffee
-#  window.path_to_public_data = "../../../.." + "#{@offering.public_data.url}"

%h1.viz-name{:data => {:vizid => @visualization.id}}
  = @visualization.name
  %small= "by #{@visualization.user.username}"

.row
  .select-offering.col-md-4
    %select.form-control.offering
      - @visualization.offerings.each do |offering|
        %option{:value => offering.id, :selected => ("selected" if offering.id == @offering.id)}
          = offering.name

  .col-md-4

  .new-offering.col-md-4
    = link_to "New Offering", (new_offering_path :viz_id => @visualization.id), :class => "btn btn-primary pull-right"

.row
  #visualization-jumbotron.jumbotron.visualization-panel.span12{:"data-url" => "../../../..#{@offering.public_data.url}"}
    %iframe#visualization-frame.viz-iframe{:src => "", :"data-url" => @visualization.data_to_visualization_script.url, :height => 500, :width => 1000, :scrolling => 'no'}

.row
  .description
    %h2
      %small
        = @visualization.description

.row
  %ul.nav.nav-tabs
    %li.active
      %a{:href=>"#files", :"data-toggle" => "tab"} Files
    %li
      %a{:href=>"#comments", :"data-toggle" => "tab"} Comments

.tab-content
  #files.tab-pane.active
    .pipeline
      %ul.nav.nav-pills
        %li
          %a{:href => "#", :data =>{:vizstep => 1}}
            .pipeline-image
              %i.glyphicon.glyphicon-hdd
            .pipeline-text
              %strong MOOCDB

        %li.active
          %a{:href => "#", :data =>{:vizstep => 2}}
            .pipeline-image
              %i.glyphicon.glyphicon-arrow-right
            .pipeline-text
              %strong Data Extraction Script

        %li
          %a{:href => "#", :data =>{:vizstep => 3}}
            .pipeline-image
              %i.glyphicon.glyphicon-file
            .pipeline-text
              %strong Exported Data

        %li
          %a{:href => "#", :data =>{:vizstep => 4}}
            .pipeline-image
              %i.glyphicon.glyphicon-arrow-right
            .pipeline-text
              %strong Data Aggregation Script

        %li
          %a{:href => "#", :data =>{:vizstep => 5}}
            .pipeline-image
              %i.glyphicon.glyphicon-file
            .pipeline-text
              %strong Public Data

        %li
          %a{:href => "#", :data =>{:vizstep => 6}}
            .pipeline-image
              %i.glyphicon.glyphicon-arrow-right
            .pipeline-text
              %strong Data to Vis Script

        %li
          %a{:href => "#", :data =>{:vizstep => 7}}
            .pipeline-image
              %i.glyphicon.glyphicon-stats
            .pipeline-text
              %strong Visualization

    %a.download-zip
      %button.btn.btn-primary.btn-lg.download-zip
        %i.glyphicon.glyphicon-download
        %span.download-text
          &nbsp;Download ZIP of all files

    .code
      %h2.file-name script.py
      %blockquote
        %pre.prettyprint#code-block
          %code

    %a.download-file{:href => @visualization.data_to_visualization_script.url(:original, false)}
      %button.btn.btn-success.btn-lg.download-file
        %i.glyphicon.glyphicon-download
        %span.download-text
          &nbsp;Download File

  #comments.tab-pane
    .row
      %p Comment on this visualization:
    = form_for Comment.new, :url => comment_visualization_path(@visualization) do |f|
      .row
        .col-lg-6.remove-padding
          = f.text_area :contents, :class => "form-control"
      .row
        %br
        = f.submit :class => "btn btn-submit"
      %br
      .row
        - @visualization.comments.order(:created_at => :desc).each do |comment|
          %span.name
            = comment.user.nil? ? "Anonymous" : comment.user.username
          %span.time
            = time_ago_in_words(comment.created_at) + " ago"
          %p.contents
            = comment.contents

