<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>
 
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.check_box :tos_agreement%>
      <%= f.label :tos_agreement, "By checking this box I agree to:", :class => "checkbox inline" %><br>
      <ul>
        <li>Refrain from scraping data from this website</li>
        <li>Attempt to identify the original authors of content found on this site</li>
      </ul>

      <%= f.hidden_field :guest, :value => nil %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
