<header class="navbar navbar-fixed-top navbar-inverse">
  <div class ="navbar-inner">
    <div class="container">
      <%= link_to full_title(""), welcome_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Label",    label_path %></li>
            <li><%= link_to "Projects",    projects_path %></li>
            <% if admin? %>
              <li><%= link_to "How To Upload Projects", uploadsfaq_path %></li>
              <li><%= link_to "Users", users_path %></li>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.display_name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <% if guest? %>
                <li><%= link_to "Sign Up", edit_user_path(current_user, :form => "info") %></li>
              <% else %>
                <li><%= link_to "Account Settings", edit_user_path(current_user, :form => "info") %></li>
              <% end %>
              <li><%= link_to "Change project", edit_user_path(current_user, :form => "project"), 'data-no-turbolink' => true %></li>
              <% if admin? %>
                <li><%= link_to "Upload a File", data_upload_path, 'data-no-turbolink' => true %></li>
                <li><%= link_to "View Data Sets", uploads_path %></li>
              <% end %>
              <li class="divider"></li>
              <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
